<div class="jumbotron">

<h1>Super Hero/Heroine Tracker<h1>
  <p>This your app to track your favorite Super Heroes/Heroines! Fill in your favorite characters, identities, powers, and teams!</p>

<%= link_to 'Super Heroes List', super_heros_path, class: 'btn btn-primary'%>
</div>
