<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" ><%= link_to 'Home', root_path %></li>
  <li role="presentation" class="active"><%= link_to 'Super Heroes/Heroines', super_heros_path %></li>
  <% if signed_in? && current_user.admin? %>
      <li role="presentation" ><%= link_to 'Users', users_path %></li>
  <% end %>
</ul>